*{
    margin: 0;
    padding: 0;
    
}
body {
    background: rgb(56, 54, 54);
    margin: 0 auto; 
    font-size: 24px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20vh auto; 
    width: 75vw;
}

.main-header{
    text-align: center;
    font-size: 60px;
   
}

.start-game,
.start-again {
    width: 20vw; 
    font-size: 20px;
    margin: 20px;
}

.choice-buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.btn-rock,
.btn-paper,
.btn-scissors {
    font-size: 30px;
    padding: 10px;
    margin: 20px;
}

.score-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}

.scoreP {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreC {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}